<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caitiezhu.gaea.service.dao.UserDAO">
    <resultMap id="BaseResultMap" type="com.caitiezhu.gaea.service.model.po.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name_zh" jdbcType="VARCHAR" property="nameZh"/>
        <result column="about_me" jdbcType="VARCHAR" property="aboutMe"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>

    <insert id="insert" parameterType="com.caitiezhu.gaea.service.model.dto.user.RegisterDTO">
        insert into gaea_user
        (email, username, name_zh, about_me, password)
        values (#{email}, #{username}, #{nameZh}, #{aboutMe}, #{password})
    </insert>

    <select id="getUser" parameterType="java.lang.Long" resultType="com.caitiezhu.gaea.service.model.po.User">
        select id, email, username, name_zh, about_me, gmt_create, gmt_modified, deleted, password
        from gaea_user
        where deleted = 0
        and id = #{userId}
    </select>

    <select id="selectUser" resultType="com.caitiezhu.gaea.service.model.po.User">
        select id, email, username, name_zh, about_me, gmt_create, gmt_modified, deleted, password
        from gaea_user
        where deleted = 0
        and username = #{username} and password = #{password}
    </select>
</mapper>